<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body class="grey lighten-4">

    <nav class="blue accent-3 lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Desabafaí</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Sair</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Entrar</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#"><img src="https://i.pinimg.com/originals/45/87/fb/4587fbea99ef35e2e61001fa5131f721.gif" alt="" width="50" height="50" style="margin-top:7px" class="circle responsive-img"> </a>
                </li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Entrar</a></li>
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>


    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 m12">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img class="activator" src="http://www.istockphoto.com/resources/images/PhotoFTLP/img_75929395.jpg" height="300px" width="300px">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.</p>

                                <a href="desabafo.html" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">remove_red_eye</i></a>
                            </div>
                            <div class="card-action">
                                <a class="btn-floating blue lighten-5" title="Curtir" id="like"><i class="material-icons blue-text" id="thumb_up">thumb_up</i></a>
                                <a class="btn-floating yellow darken-1" title="Comentar" id="comentario"><i class="material-icons">speaker_notes</i></a>
                                <a class="btn-floating green" title="Comentarios" id="comentarios"><i class="material-icons">question_answer</i></a>

                            </div>

                        </div>
                    </div>

                    <div class="row" hidden id="meu_comentario">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">speaker_notes</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                            <label for="icon_prefix2">Escreva um comentário...</label>
                        </div>
                    </div>

                    <ul class="collection" id="lista_comentarios" hidden>
                        <li class="collection-item avatar">
                            <img src="https://www.arteslalu.com.br/wp-content/uploads/2016/10/foto-do-cliente-kayo-morais-depoimento-lalu-50x50.png" alt="" class="circle">
                            <span class="title">Joaozinho</span>
                            <p>First Line</p>
                            <div class="row " id="respostas">
                                <div class="col s11 offset-s0">

                                    <p> <span class="teal-text accent-3">@Maria </span> Você só precisa de 21 minutos para definir todo seu corpo! → Teste por 30 dias e veja os resultados XTREME. </p>

                                    <a href="#">Curtir</a> -
                                    <a href="#" id="responder">Responder</a>

                                    <div class="row" hidden id="minha_resposta">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">speaker_notes</i>
                                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                            <label for="icon_prefix2">Escreva uma resposta...</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#!" class="secondary-content">1 min atrás</a>

                        </li>
                        <li class="collection-item avatar">
                            <img src="http://ggvconsultoria.com.br/wp-content/uploads/2016/01/papa-juan-50x50.png" alt="" class="circle">
                            <span class="title">Title</span>
                            <p>First Line <br> Second Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <img src="http://ggvconsultoria.com.br/wp-content/uploads/2016/01/papa-juan-50x50.png" alt="" class="circle">
                            <span class="title">Title</span>
                            <p>First Line <br> Second Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <div class="row" id="">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">speaker_notes</i>
                                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                    <label for="icon_prefix2">Escreva um comentário...</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <br><br>
    </div>


    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red waves-effect waves-light btn modal-trigger" href="#modal1">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Criar Desabafo</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Título</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Desabafo</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light left-align" type="submit" name="action">Publicar
                      <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
    </div>


    <footer class="page-footer blue lighten-2">
        <h6 class="center-align"><span>Desabafaí?<span> <a href="" class="pink-text">TERMOS DE USO</a></h6>
    <div class="footer-copyright">
      <div class="container center-align">
      Made by <a class="grey-text text-lighten-3" href="http://materializecss.com"> Desenvolvido por Code&Code</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
     $(document).ready(function(){
      // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();

      $('#like').click(function(){

        $(this).toggleClass("lighten-5");
        $("#thumb_up").toggleClass("blue-text");

      });

      $('#comentarios').click(function(){
        $("#lista_comentarios").toggle();
      });

      $("#responder").click(function(){
        $("#minha_resposta").toggle();
      })

      $("#comentario").click(function(){
        $("#meu_comentario").toggle();
      })


  });
      
  </script>

  </body>
</html>